export J2SDKDIR=/usr/lib/jvm/temurin-{{ temurin_jdk_version }}-jdk-amd64
export J2REDIR=/usr/lib/jvm/temurin-{{ temurin_jdk_version }}-jdk-amd64/jre
export JAVA_HOME=/usr/lib/jvm/temurin-{{ temurin_jdk_version }}-jdk-amd64